.weather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(135deg, #89cff0, #4682b4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar input {
  border: none;
  height: 50px;
  outline: none;
  border-radius: 25px;
  padding: 20px;
  font-size: 18px;
}
.search-bar img {
  width: 50px;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.weather-icon {
  width: 150px;
  margin: 30px;
}
.temp {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}
.location {
  color: #fff;
  font-size: 40px;
}
.weather-data {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

